body {
    font-family: 'Encode Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1250px;
}


.main {
    width: 1250px;
    color: #F5F6F7;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linha-superior {
    width: 1250px;
    height: 1px;
    background-color: #F5F6F7;
    margin: 0 auto;
}

header {
    width: 100%;
}

.logo {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

/* Seção do cabeçalho */
.cabecalho {
    font-family: "Encode Sans", sans-serif;
    font-weight: 700;
    font-size: 19px;
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.linha-horizontal {
    width: 1250px;
    height: 1px;
    background-color: #F5F6F7;
    margin: 0 auto;
    margin-bottom: 20px;
}

/* Estilo do cabeçalho */
.cabecalho a {
    text-decoration: none;
}

.cabecalho a:hover {
    text-decoration: underline;
}

/* Cores dos links por seção */
.cabecalho .g1 a {
    color: #C3170C;
}

.cabecalho .o-globo a {
    color: #1E4B9B;
}

.cabecalho .valor a {
    color: #006766;
}

.cabecalho .g-e a {
    color: #07AA47;
}

.cabecalho .cartola a {
    color: #E3662B;
}

.cabecalho .globo-play a {
    color: #FB0735;
}

.cabecalho .dropz a {
    color: #FF75BB;
}

.cabecalho .g-show a {
    color: #EC7D00;
}

.cabecalho .quem a {
    color: #323333;
}

.cabecalho .receitas a {
    color: #A81D83;
}

/* Seção de destaques */

.secao-destaques {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.secao-destaques img {
   width: 100%;
   max-width: 500px;
   height: auto;
   border-radius: 12px;
}

.destaque-titulo-noticias p {
    font-family: "Encode Sans", sans-serif;
    color: #303134;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
}

.destaque-titulo-noticias h1 {
    font-family: "Encode Sans", sans-serif;
    color: #C4160C;
    font-weight: 700;
    font-size: 52px;
    margin-bottom: 20px;
}

.separador-superior {
    width: 624px;
    height: 1px;
    background-color: #EBEDEF;
}

.noticia {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px; 
    
}
.noticia p {
    font-family: "Encode Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #2F3134;
    margin-bottom: 60px;
}

.noticia a {
    font-family: "Encode Sans", sans-serif; 
    font-weight: 400;
    font-size: 14px;
    color: #2F3134;
    margin-bottom: 60px;
    text-decoration: none; 
    
}
.secoes {
    display: flex;
    justify-content: space-between;

}
.separador-meio {
    width: 624px;
    height: 1px;
    background-color:#EBEDEF ;
}

.secao-vermelho-noticia {
    font-family: "Encode Sans", sans-serif;
    color: #C4170C;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 10px;

}

.secao-noticia, .secao-noticia2 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 10px;
    margin-right: 20px;
}

.secao-noticia a {
    font-family: "Encode Sans", sans-serif;
    color: #2F3134;
    font-weight: 700;
    font-size: 20px;
    height: 25px;
    text-decoration: none;

}

.secao-noticia p {
    font-family: "Encode Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    height: 19px;
}

.div-separador {
    height: auto;
    width: 1px;
    background-color: #EBEDEF;
    margin: 20px 0;  
}

/* Seção do ge e gshow */
.div-separador-gshow {
    height: 845px;
    width: 1px;
    background-color: #EBEDEF;
}
.secao-esportes {
    width: 48%; 
    display: flex;
    flex-direction: column;
    gap: 20px; 
    align-items: flex-start;
    margin-right: 20px;    
    margin-left: 20px;
}

.secao__esportes__noticias img {
    width: 240px;
    height: 128px;
    border-radius: 12px;
    margin-bottom: 10px;
    
}

.secao__esportes__noticias p {
    font-family: "Encode Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17.5px;
    color: #16AE54;
    margin-bottom: 10px;
}

.secao__esportes__noticias a {
    font-family: "Encode Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #2F3134;
    text-decoration: none;
    margin-bottom: 20px;
}


.secao__esportes__verde  {
    padding-top: 20px;
    font-family: "Encode Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #2F3134;
    margin-bottom: 20px;
}

.secao-gshow {
    width: 48%;
    display: flex;
    flex-direction: column;
    gap: 30px; 
    align-items: flex-start;
    margin-left: 20px; 
    margin-bottom: 20px;
}

.secao__gshow img {
    width: 240px;
    height: 128px;
    border-radius: 12px;
    margin-bottom: 10px;
}

.secao__gshow p {
    font-family: "Encode Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #EC8006;
    margin-bottom: 10px;

}

.paragrafo-gshow-laranja {
    font-family: "Encode Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #2F3134;
    line-height: 19px;
    margin-bottom: 10px ;
}

.secao__gshow a {
    padding-top: 30px;
    font-family: "Encode Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #2F3134;
    text-decoration: none;
    line-height: 25px;
    margin-bottom: 20px;
}
